body {
    background-color: #fffbf7;
}

.header{
    margin: 40px 20px 0;
    font-size: 0;
    height: 80px;
}

.header li{
    display: inline;
    margin: 0 15px;
}

.header>*{
    display: inline-block;
    font-size: 16px;
}

.header.logo{
    width: 20%;
}

.header.navbar{
    width: 60%;
    text-align: center;
}

header.actions{
    width: 20%;
    text-align: right;
}

.main{
    margin: top 150px;
    text-align: center;
}

.main.imagen.propiedades{
    width: 80%;
}

.header ul{
    padding: 0%;
}

h1 {
    color: #025157;
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: 60px;
}

h4{
    color:#46484c;
    font-weight: 500;
    font-family: 'Slabo+27';
    border: 0;
    border-radius: 5px;
    padding: 12px 14px;
}

.header.actions button{
    color: #ffffff;
}

p{
    color:#8b8b8bcc;
}

button{
    color:#fff;
    background-color: #025157;
}

.features{
    background-color: #025157;
    height: 660px;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    padding: 5% 10%;
    /*gap: 30px*/
    margin-bottom: 150px;
}

.feature-card{
    margin: 0 15px 30px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}

.feature-content{
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.feature-content h3{
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}

.feature-content p{
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.feature-content a{
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.feature-content-image{
    margin: 0;
}

.feature-content-image img{
    height: 40px;
}

.feature-image{
    position: relative;
    flex: 1;
}

.feature-image img {
    width: 200px;
    position: absolute;
    top: 90px;
    left: 30px;
    transition: left 0.5s;
}

.feature-image img:hover {
    left: 0;
}

